<a href="https://colab.research.google.com/github/Victory567/lab-customer-analysis-round-2/blob/master/Untitled_(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
df= pd.read_csv('marketing_customer_analysis.csv')

In [ ]:
df.shape

(10910, 26)

In [ ]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [ ]:

for col in data.columns:
	print(col)

Unnamed: 0
Customer
State
Customer Lifetime Value
Response
Coverage
Education
Effective To Date
EmploymentStatus
Gender
Income
Location Code
Marital Status
Monthly Premium Auto
Months Since Last Claim
Months Since Policy Inception
Number of Open Complaints
Number of Policies
Policy Type
Policy
Renew Offer Type
Sales Channel
Total Claim Amount
Vehicle Class
Vehicle Size
Vehicle Type

In [ ]:
 import math
 x = float('nan')
 math.isnan(x)

True

In [ ]:
df=df.dropna()