<a href="https://colab.research.google.com/github/Victory567/lab-customer-analysis-round-2/blob/master/Untitled1_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
df= pd.read_csv('marketing_customer_analysis.csv')

In [ ]:
df.shape

(10910, 26)

In [ ]:
# Standardize header names

In [ ]:
df

<bound method NDFrame.describe of        Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [ ]:
#Standardizing  header names and then selecting  numerical columns
#To identify which columns are numerical in a pandas DataFrame, 
#you can use the select_dtypes() method with the include parameter set to 'number'. 
#This will select all columns with numerical data types (i.e. integer, float).

In [ ]:

num_cols = df.select_dtypes(include='number').columns.tolist()

print(num_cols)

['unnamed: 0', 'customer lifetime value', 'income', 'monthly premium auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'total_claim_amount']

In [ ]:
#Just the same as the code above we are just swapping number for object 
#To identify which columns are categorical in a pandas DataFrame, 
#you can use the select_dtypes() method with the include parameter set to 'object'. 
#This will select all columns with object data types, which typically represent categorical variables.

In [ ]:
cat_cols = df.select_dtypes(include='object').columns.tolist()

print(cat_cols)

['customer', 'state', 'response', 'coverage', 'education', 'effective to date', 'employmentstatus', 'gender', 'location code', 'marital_status', 'policy type', 'policy', 'renew offer type', 'sales channel', 'vehicle_class', 'vehicle_size', 'vehicle type']

In [ ]:
# Check for missing values
# I am using the isnull() method, which returns a boolean DataFrame with True values 
#where the original DataFrame contains missing values.

In [ ]:
missing_values = df.isnull().sum()
print(missing_values)

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital_status                      0
monthly premium auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle type                     5482
dtype: int64

In [ ]:
#First i Converted the "date" column to a Pandas datetime object
#Then i extracted the month from the "date" column and stored it in a new "month" column
#Next was filtering the data to show only the information for the first quarter (January to March)
#Then i printed the filtered data

In [ ]:
df["date"] = pd.to_datetime(df["date"])
df["month"] = df["date"].dt.to_period('M').dt.month
q1_data = df[df["date"].dt.to_period('Q').dt.quarter == 1]
print(q1_data)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

          Policy Type        Policy Renew Offer Type  Sales Channel  \
0      Corporate Auto  Corporate L3           Offer3          Agent
1       Personal Auto   Personal L3           Offer4    Call Center
2       Personal Auto   Personal L3           Offer3    Call Center
3      Corporate Auto  Corporate L3           Offer2         Branch
4       Personal Auto   Personal L2           Offer1         Branch
...               ...           ...              ...            ...
10905   Personal Auto   Personal L1           Offer3            Web
10906   Personal Auto   Personal L3           Offer2         Branch
10907  Corporate Auto  Corporate L3           Offer1            Web
10908   Personal Auto   Personal L1           Offer1         Branch
10909   Personal Auto   Personal L1           Offer4            Web

       Total Claim Amount  Vehicle Class  Vehicle Size  Vehicle Type  \
0              292.800000  Four-Door Car       Medsize           NaN
1              744.924331  Four-Door Car       Medsize           NaN
2              480.000000            SUV       Medsize             A
3              484.013411  Four-Door Car       Medsize             A
4              707.925645  Four-Door Car       Medsize           NaN
...                   ...            ...           ...           ...
10905         1214.400000     Luxury Car       Medsize             A
10906          273.018929  Four-Door Car       Medsize             A
10907          381.306996     Luxury SUV       Medsize           NaN
10908          618.288849            SUV       Medsize             A
10909         1021.719397            SUV       Medsize           NaN

            date month
0     2011-02-18     2
1     2011-01-18     1
2     2011-02-10     2
3     2011-01-11     1
4     2011-01-17     1
...          ...   ...
10905 2011-01-19     1
10906 2011-01-06     1
10907 2011-02-06     2
10908 2011-02-13     2
10909 2011-01-08     1

[10910 rows x 28 columns]